.banner {
    width: 100%;
    height: 963px;
    background: var(
      --Linear,
      linear-gradient(
        180deg,
        rgba(219, 228, 254, 0.35) 0%,
        rgba(219, 228, 254, 0) 73.44%,
        rgba(255, 255, 255, 0) 100%
      )
    );
  
    &__services {
      display: flex;
      margin-top: 72px;
  
      &-text {
        width: 630px;
        height: 441px;
        margin-top: 40px;
        margin-right: 130px;
  
        &-content {
          height: 327px;
  
          &_title {
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
          }
  
          &_list {
            margin-top: 27px;
            font-size: 15px;
  
            li {
              line-height: 24px;
              font-weight: 400;
              margin-top: 8px;
  
              span {
                margin-left: 12px;
              }
            }
          }
        }
  
        &-button {
          margin-top: 50px;
          display: flex;
          gap: 20px;
  
          &_download {
            width: 250px;
            height: 64px;
            display: flex;
            background-color: $primaryColor;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
  
            &-link {
              display: flex;
              justify-content: center;
              align-items: center;
  
              span {
                font-size: 15px;
                color: $whiteColor;
                margin-right: 15px;
              }
            }
          }
  
          &_download:hover {
            background-color: #0e73ed;
          }
  
          &_all {
            width: 250px;
            height: 64px;
            background-color: $whiteColor;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid $textColor1;
  
            &-link {
              display: flex;
              justify-content: center;
              align-items: center;
  
              span {
                font-size: 15px;
                color: $textColor1;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  
    &__list {
      display: flex;
      margin-top: 90px;
      justify-content: space-between;
      align-items: center;
  
      &-item {
        width: 330px;
        margin-left: 20px;
        display: flex;
  
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;
  
          &-big {
            font-size: 26px;
          }
  
          &-small {
            font-size: 15px;
            font-weight: 400;
            color: $textColor2;
          }
        }
      }
    }
  }