.header {
  width: 100%;

  &__top {
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-social {
      display: flex;
      flex-direction: row;

      &_twitter {
        margin: 0 10px;
      }
    }

    &-language {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &_title {
        color: $textColor2;
        font-size: 14px;
        font-weight: 400;
        margin-right: 5px;
      }

      &_icon {
        width: 9px;
        height: 9px;
        color: $textColor2;
      }
    }
  }

  &__menu {
    width: 100%;
    height: 70px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-radius: 5px;
    background: $whiteColor;
    box-shadow: 0px 0px 35px 0px rgba(65, 124, 177, 0.1);

    &-action {
      width: 757px;
      height: 19px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      color: $textColor1;

      &-pricing {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      &-proxys {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      &-locations {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      &-item {
        display: flex;
        align-items: center;background-color: red;
      }

      &-icon {
        width: 9px;
        height: 9px;
        margin-left: 5px;
      }

      &-box {
        display: inline-flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 16px;
        gap: 35px;
        border-radius: 8px;
        background: $whiteColor;
        box-shadow: 0px 0px 35px 0px rgba(65, 124, 177, 0.1);

        &-window {
          display: flex;
          align-items: center;

          &_title {
            font-size: 15px;
            font-weight: 400;
            margin-left: 15px;
            color: $textColor1;
          }
        }

        &-mac {
          display: flex;
          align-items: center;

          &_title {
            font-size: 15px;
            font-weight: 400;
            margin-left: 15px;
            color: $textColor1;
          }
        }
      }

      &-resources {

        a {
          color: $textColor1;
        }
      }

      &-blogs {

        a {
          color: $textColor1;
        }
      }

      &-flatforms {

        a {
          color: $textColor1;
        }
      }
    }

    &-account {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-login {
        margin-right: 30px;

        a {
          color: $textColor1;
        }
      }

      &-signup {
        width: 100px;
        height: 40px;
        font-weight: 500;
        padding: 10px;
        color: $whiteColor;
        border-radius: 8px;
        border: none;
        background-color: $textColor1;
      }
    }
  }
}
