.pricing {
  width: 100%;
  height: 1010px;
  background-color: #123b6e;

  &__head {
    color: $whiteColor;
    font-size: 40px;
    font-weight: 600;
    padding-top: 100px;
    text-align: center;
  }

  &__table {
    margin-top: 40px;
    width: 100%;
    height: 710px;
    background-color: $whiteColor;
    padding: 40px;
    border-radius: 16px;
    display: flex;

    &-interest {
      width: 516px;
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-info {
        width: 100%;

        &-tab {
          position: relative;
          display: flex;
          // justify-content: center;
          // align-items: center;
          height: 52px;
          border-radius: 25px;
          padding: 6px;
          background: #f1f1f4;

          &-popular {
            cursor: pointer;
            width: 156px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

            span {
              font-size: 15px;
              color: #121f3e;
              font-weight: 500;
              margin-left: 6px;
            }
          }

          &-static {
            cursor: pointer;
            width: 140px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

            span {
              font-size: 15px;
              color: #121f3e;
              font-weight: 500;
              margin-left: 6px;
            }
          }

          &-dedicated {
            cursor: pointer;
            width: 208px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

            span {
              font-size: 15px;
              color: #121f3e;
              font-weight: 500;
              margin-left: 6px;
            }
          }

          &-effect {
            position: absolute;
            z-index: 0;
            height: 40px;
            background-color: $whiteColor;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
            border-radius: 25px;
            transition: all 0.25s ease-in;
          }
        }
        .gilder-popular {
          width: 160px;
          left: 6px;
        }

        .gilder-static {
          width: 130px;
          left: 170px;
        }
        .gilder-dedicated {
          width: 204px;
          left: 306px;
        }

        &-detail {
          margin-top: 40px;

          ul {
            li {
              margin-top: 20px;

              span {
                color: $textColor2;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                margin-left: 10px;
              }
            }

            li:first-child {
              margin-top: 0px;
            }
          }
        }
      }

      &-pay {
        position: relative;

        &-wrap {
          position: relative;
          z-index: 10;
          bottom: 0px;
          width: 516px;
          height: 240px;
          padding: 30px 30px;
          border-radius: 16px;
          border: 1px solid #dce4ed;
          background-color: #f0f4f9;

          &-title {
            height: 58px;
            display: flex;
            justify-content: space-between;

            &-money {
              p {
                color: #797e89;
                font-size: 14px;
                font-weight: 400;
              }

              div {
                color: $textColor1;
                font-size: 24px;
                font-weight: 500;
                margin-top: 10px;
              }

              .disable {
                color: $textColor2;
              }
            }

            &-code {
              position: relative;
              top: 20px;

              p {
                position: absolute;
                right: 0;
                color: $textColor1;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;
                opacity: 1;
                transition: all 0.8s ease;
              }

              .disable {
                color: $textColor2;
              }
            }

            &-coupon {
              display: flex;
              align-items: center;
              height: 34px;
              opacity: 0;
              transition: all 0.3s ease;

              input {
                width: 180px;
                height: 28px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                background-color: #f0f4f9;
                font-size: 14px;
              }

              input:not(:placeholder-shown) ~ &-btn {
                background-color: #2d85f3;
              }

              button {
                width: 64px;
                height: 34px;
                color: $whiteColor;
                font-size: 14px;
                background: rgba(38, 126, 236, 0.4);
                border-radius: 8px;
                padding: 8px 12px;
                margin-left: 10px;
              }

              svg {
                margin-left: 15px;
                cursor: pointer;
              }
            }
            .hidden {
              transition: all 0.3s ease;
              opacity: 0;
              transform: translateY(0);
            }

            .showed {
              transition: all 0.3s ease;
              opacity: 1;
              transform: translateY(-20px);
            }
          }

          &-buy {
            margin-top: 20px;
            width: 320px;

            button {
              width: 240px;
              height: 48px;
              padding: 10px;
              border-radius: 8px;
              background-color: $textColor1;

              a {
                color: $whiteColor;
                font-size: 15px;
              font-weight: 500;
              }
            }

            .disable-btn {
              background-color: rgba(17, 36, 70, 0.25);
            }

            &-method {
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
            }
          }
        }

        &-behind {
          position: absolute;
          width: 480px;
          height: 234px;
          bottom: 4px;
          right: 20px;
          transform: rotate(-5deg);
          border-radius: 16px;
          background: #a1b2c7;
        }
      }
    }

    &-option {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-item {
        height: 110px;
        width: 774px;
        background-color: #f2f4f6;
        border-radius: 8px;
        display: flex;

        &-price {
          display: flex;
          justify-content: space-between;
          width: 594px;
          height: 98px;
          margin: 6px 0 0 6px;
          padding: 14px 40px 14px 14px;
          border-radius: 8px;
          background-color: $whiteColor;

          &-wrap {
            display: flex;
            justify-content: space-between;

            &-check {
              color: #267eec;
            }

            &-save {
              margin-left: 20px;

              h2 {
                color: $textColor1;
                font-size: 20px;
                font-weight: 500;
              }

              div {
                height: 24px;
                width: 81px;
                margin-top: 12px;
                background: rgba(226, 33, 33, 0.1);
                border-radius: 8px;
                padding: 4px 9px;
                font-size: 13px;
                font-weight: 400;
                color: #e22121;
              }
            }

            &-custom {
              color: $textColor1;
              margin-left: 20px;
              height: 65px;
              font-size: 20px;
              font-weight: 500;
              text-transform: uppercase;
              display: flex;
              align-items: center;
            }

            &-unknow {
              color: $textColor1;
              width: 114px;
              height: 65px;
              font-size: 30px;
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          &-detail {
            text-align: center;
            width: 111px;
            height: 65px;

            p {
              color: $textColor2;
              margin-top: 3px;
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
            }

            div {
              color: $textColor1;
              font-size: 30px;
              font-weight: 500;
              margin-top: 4px;

              span {
                color: #5e6573;
                font-size: 18px;
                font-weight: 300;
              }
            }
          }
        }

        &-total {
          width: 174px;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          &-wrap {
            width: 56px;
            height: 58px;
            text-align: center;

            p {
              color: $textColor2;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
            }

            div {
              margin-top: 6px;
              color: $textColor1;
              font-size: 17px;
              font-weight: 400;
            }
          }

          button {
            width: 119px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid $textColor1;

            a {
              color: $textColor1;
              font-size: 17px;
              font-weight: 400;
              line-height: 22px;
            }
          }
        }
      }

      &-special {
        display: flex;
        background-color: #1e76e5;
        border-radius: 8px;
        height: 110px;
        width: 774px;

        &-price {
          display: flex;
          justify-content: space-between;
          width: 594px;
          height: 98px;
          border-radius: 8px;
          background-color: #2d85f3;
          margin: 6px 0 0 6px;
          padding-right: 40px;

          &-wrap {
            display: flex;

            svg {
              margin-top: 14px;
              margin-left: 14px;
            }

            &-save {
              width: 140px;
              height: 98px;
              margin-left: 19px;
              background-color: #1e76e5;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              h2 {
                color: $whiteColor;
                font-size: 24px;
                font-weight: 500;
                line-height: 30px;

                span {
                  font-size: 20px;
                }
              }

              div {
                margin-top: 6px;
                color: #ffe900;
                font-size: 24px;
                font-weight: 500;
                line-height: 30px;

                span {
                  font-size: 20px;
                }
              }
            }
          }

          &-detail {
            text-align: center;
            width: 137px;
            height: 71px;
            margin: auto 0;

            p {
              color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
              text-decoration: line-through;
            }

            div {
              margin-top: 6px;
              color: $whiteColor;
              font-size: 36px;
              font-weight: 500;

              span {
                font-size: 24px;
                font-weight: 300;
              }
            }
          }
        }

        &-total {
          width: 174px;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          &-wrap {
            color: $whiteColor;
            width: 56px;
            height: 58px;
            text-align: center;

            p {
              color: $whiteColor;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
            }

            div {
              margin-top: 6px;
              color: $whiteColor;
              font-size: 17px;
              font-weight: 400;
            }
          }
        }
      }

      &-mount {
        position: absolute;
        top: calc(40% - 1px);
        right: calc(20% + 3px);

        &-wrap {
          position: relative;
          width: 58px;
          height: 61px;

          &-text {
            position: absolute;
            z-index: 2;
            text-align: center;
            width: 36px;
            height: 36px;
            margin-top: 13px;
            margin-left: 3px;

            p {
              color: #313a4a;
              font-size: 13px;
              font-weight: 500;
              line-height: 16px;
            }

            span {
              color: $textColor1;
              font-size: 17px;
              font-weight: 600;
              line-height: 16px;
            }
          }

          &-img1 {
            position: absolute;
            z-index: 1;
          }

          &-img2 {
            position: absolute;
            left: 4px;
          }
        }
      }
    }
  }
}

.disappear {
  animation: fadeOut 1s linear;
  // display: none;
}

// .disable {
//   color: $textColor2;
// }

.hide {
  display: none;
}

.show {
  display: block;
}



@keyframes fadeIn {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%);
    opacity: 0;
  }
}
