.wrapper {
  width: 100%;
  max-width: 1470px;
  padding: 0 30px;
  margin: 0 auto;
}

.core {
  height: 100px;
}

@media only screen and (min-width: 1024px) and (max-width: 1409px) {
  .footer__proxy {
    flex-direction: column;

    &-info {
      order: 2;
    }

    &-wrap {
      justify-content: space-around;

      &-dowload {

        &-btns {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-btn1 {
            width: 32%;
          }

          &-btn2 {
            width: 32%;
            margin-top: 30px;
          }

          &-btn3 {
            width: 32%;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

