.wrapper {
  width: 100%;
  max-width: 1470px;
  padding: 0 30px;
  margin: 0 auto;
}

.core {
  height: 100px;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  
  .question {

    &__feedback {

      h1 {
        font-size: 30px;
      }

      &-wrap {

        &-content {
          width: 100%;
          height: auto;

          &-arrowleft, &-arrowright {
            display: none;
          }
        }

        &-under1, &-under2 {
          display: none;
        }
      }

      &-customer {
        display: block;
        margin-top: 40px;
        text-align: center;

        svg:nth-child(2) {
          margin: 0 15px;
        }
      }
    }

    &__faq {
      margin-top: 140px;

      h1 {
        font-size: 30px;
      }

      &-content {
        flex-direction: column;
        gap: 20px;

        &-left {
          width: 100%;

          &-item {
            position: relative;
          }
        }

        &-right {
          width: 100%;

          &-item {
            position: relative;
          }
        }
      }
    }
  }
  
  .footer__proxy {
    flex-direction: column;

    &-info {
      display: flex;
      order: 2;
      margin-top: 60px;

      &-wrap {
        width: 100%;
        height: 267px;
        align-items: center;
        padding: 50px 20px 0 20px;
        border-top: 1px solid hsla(0,0%,100%,.1);

        &-text {
          text-align: center;
          width: 60%;
        }
      }
    }

    &-wrap {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: stretch;

      &-dowload {
        margin-top: 60px;
      
        &-btns {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          &-btn1 {
            width: 100%;
          }

          &-btn2 {
            width: 100%;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1409px) {
  
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

