.account {
    height: 100vh;
    display: flex;

    &__welcome {
        width: 43%;
        height: 100%;
        background-color: #123B6E;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-content {
            width: 651px;
            height: 799px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &-wrap {
                width: 290px;
                height: 154px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                &-text {
                    width: auto;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h1 {
                        color: #fff;
                        font-size: 36px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }

                    p {
                        color: rgba(255, 255, 255, 0.60);
                        font-size: 16px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
                }

                &-move {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 200px;
                    height: 14px;

                    &-tab {
                        width: 77px;
                        height: 8px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    svg {
                        cursor: pointer;
                    }
                }
            } 
        }
        
    }
}